@{
    ViewData["Title"] = "Tüm Üyelerimiz";
    @model List<tasktracker.Models.Profile>

    }

<div class="bg-light  text-center overflow-hidden">
    <div class="my-4 p-3">
        <h2 class="display-5">Üyelerimiz</h2>
        <p class="lead">Bizi sürekli destekleyen üyelerimize teşekkür ederiz.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; border-radius: 21px 21px 0 0;">

        <div class="table-responsive mt-5 p-5">
            <table class="table table-bordered table-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">İsim</th>
                    <th scope="col">Soyisim</th>
                    <th scope="col">İletişim</th>
                    <th scope="col">Hakkında</th>
                </tr>
                </thead>
                <tbody>
                
                @if (Model == null || Model.Count == 0)
                {
                    <p>Üye bulunamadı</p>
                }
                else
                {
                    var i = 0;
                    foreach (var index in Model)
                    {
                        i++;
                        <tr>
                            <th scope="row">@(i)</th>
                            <td>@index.UserName</td>
                            <td>@index.UserSurname</td>
                            <td>@index.UserEmail</td>
                            <td>@index.UserBio</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>