@{
    ViewData["Title"] = "Etkinliğinizi Oluşturun";
    string activityName = "";
    string activityDescription = "";
    string activityTime = "29.05.2023";
    string activiyLocation = "";
    string activityOwner = "";
    string activityRequirements = "";
    string activityFee = "10";
    string activityContactChannel = "";
    string base64ActivityImage= "";
}


<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Tasktrackr ile Etkinlik Oluştur</h2>
        <p class="lead">
            Merhaba!
            Formu doldurarak, herkese açık insanların bir araya gelebileceği etkinlikler düzenleyebilir ve katılımcılarla iletişim kurabilirsin.</p>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Etkinlik Özetiniz</span>
                <span class="badge badge-secondary badge-pill">*</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik Adı</h6>
                        <small class="text-muted">@activityName</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik Açıklamanız</h6>
                        <small class="text-muted">@activityDescription</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik Tarihleriniz</h6>
                        <small class="text-muted">@activityTime</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik Konumu</h6>
                        <small class="text-muted">@activiyLocation</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik Başkanı</h6>
                        <small class="text-muted">@activityOwner</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik İletişim Kanalı</h6>
                        <small class="text-muted">@activityContactChannel</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-danger">
                        <h6 class="my-0">Etkinlik Gereksinimleri</h6>
                        <small class="text-muted">@activityRequirements</small>
                    </div>
                    <span class="text-success">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between text-warning">
                    <span>Etkinlik Ücreti (TL)</span>
                    <strong>@activityFee₺</strong>
                </li>
            </ul>

            
        </div>


        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Etkinlik Bilgileri</h4>
            <form class="needs-validation" novalidate="">

                <div class="mb-3">
                    <label for=activity-name>Etkinlik Adı</label>
                    <input type="text" class="form-control" id="activity-name" placeholder="Yıldız Parkı Bisiklet Sürüşü" value=@activityName>
                </div>

                <div class="mb-3">
                    <label for=activity-description>Etkinlik Açıklaması</label>
                    <textarea type="text" class="form-control" id="activity-description" placeholder="Sahil bisiklet yolları kullanılarak ve aynı zamanda çeşitli ikramlar ile birlikte eğlenceli bir bisiklet sürüş organizasyonudur." value=@activityDescription></textarea>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">

                        <label for="firstName">Etkinlik Başkanı Adı ve Soyadı</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Ahmet Aslan" value=@activityOwner>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">

                        <label for="email">Etkinlik İletişim Kanalı</label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                </div>



                <div class="mb-3">
                    <label for="address">Etkinlik Konumu</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">📌</span>
                        </div>
                        <input type="text" class="form-control" id="address" placeholder="Marmara Üniversitesi Maltepe/İstanbul" required="">
                        <div class="invalid-feedback" style="width: 100%;">
                            Please enter your address.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="activity-requirements">Etkinlik Gereksinimleri</label>
                    <input type="text" class="form-control" id="activity-requirements" placeholder="Marmara Üniversitesi Öğrencisi Olmak tek koşuldur." required="">
                    <div class="invalid-feedback">
                        Please enter activity requirements.
                    </div>
                </div>
                <hr class="mb-4">

                <h5 class="mb-3">Etkinlik Ücreti</h5>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Ücretsiz</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="ten" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="ten">10</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="twenty" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="twenty">20</label>
                    </div>
                </div>


                <hr class="mb-4">
                <button class="btn btn-dark btn-lg btn-block" type="submit">Etkinliği Oluştur</button>
            </form>
        </div>
    </div>
    <br />
</div>
