@using Microsoft.AspNetCore.Identity
@using tasktracker.Data
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Event
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Etkinliğinizi Oluşturun";
    
    string activityName = "";
    string activityDescription = "";
    string activityTime = "29.05.2023";
    string activiyLocation = "";
    string activityOwner = "";
    string activityRequirements = "";
    string activityFee = "10";
    string activityContactChannel = "";
    string base64ActivityImage= "";
    
    var userId = UserManager.GetUserId(User);
    var profile = _context.Profiles.FirstOrDefault(e => e.UserId == userId);
}




<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Tasktrackr ile Etkinlik Oluştur</h2>
        <p class="lead">
            Merhaba!
            Formu doldurarak, herkese açık insanların bir araya gelebileceği etkinlikler düzenleyebilir ve katılımcılarla iletişim kurabilirsin.</p>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Etkinlik Özetiniz</span>
                <span class="badge badge-secondary badge-pill">*</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik Adı</h6>
                        <small class="text-muted">@activityName</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik Açıklamanız</h6>
                        <small class="text-muted">@activityDescription</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik Tarihleriniz</h6>
                        <small class="text-muted">@activityTime</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik Konumu</h6>
                        <small class="text-muted">@activiyLocation</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik Başkanı</h6>
                        <small class="text-muted">@activityOwner</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Etkinlik İletişim Kanalı</h6>
                        <small class="text-muted">@activityContactChannel</small>
                    </div>
                    <span class="text-muted">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-danger">
                        <h6 class="my-0">Etkinlik Gereksinimleri</h6>
                        <small class="text-muted">@activityRequirements</small>
                    </div>
                    <span class="text-success">*</span>
                </li>
                <li class="list-group-item d-flex justify-content-between text-warning">
                    <span>Etkinlik Ücreti (TL)</span>
                    <strong>@activityFee₺</strong>
                </li>
            </ul>

            
        </div>


        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Etkinlik Bilgileri</h4>
            <form method="post" asp-action="SaveEvent" asp-controller="Event">
                
                
                
        @if (SignInManager.IsSignedIn(User))
        {
            var user = await UserManager.GetUserAsync(User);
            
            
            <div class="border rounded-3 p-3 mt-4">
                
                <div class="col-9 mb-3 d-none">
                    <label asp-for="event_ownerID">Etkinlik Oluşturucu ID</label>
                    <input asp-for="event_ownerID" value="@user.Id" class="form-control"/>
                    <span asp-validation-for="event_ownerID" class="text-danger"></span>
                </div>
                
                
                <div class="col-9 mb-3">
                    <label asp-for="event_name">Etkinlik Adı</label>
                    <input asp-for="event_name" class="form-control"/>
                    <span asp-validation-for="event_name" class="text-danger"></span>
                </div>

                <div class="col-9 mb-3">
                    <label asp-for="event_description">Etkinlik Açıklaması</label>
                    <textarea asp-for="event_description" type="text" class="form-control" id="activity-description" placeholder="Sahil bisiklet yolları kullanılarak ve aynı zamanda çeşitli ikramlar ile birlikte eğlenceli bir bisiklet sürüş organizasyonudur." ></textarea>
                    <span asp-validation-for="event_description" class="text-danger"></span>
                </div>
                
                <div class="col-9 mb-3 d-none">
                    <label asp-for="event_image">Etkinlik Resmi (base64 Formatında )</label>
                    <input asp-for="event_image" class="form-control" value="[]"/>
                    <span asp-validation-for="event_image" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="event_location">Etkinlik Konumu</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">📌</span>
                        </div>

                        <input asp-for="event_location" class="form-control"/>
                        <span asp-validation-for="event_location" class="text-danger"></span>

                    </div>
                </div>

                <div class="col-9 mb-3">
                    <label asp-for="event_date">Etkinlik Tarihi</label>
                    <input asp-for="event_date" class="form-control"/>
                    <span asp-validation-for="event_date" class="text-danger"></span>
                </div>


                <div class="col-9 mb-3">
                    <label asp-for="event_requirement">Etkinlik Gereksinimleri</label>
                    <input asp-for="event_requirement" class="form-control"/>
                    <span asp-validation-for="event_requirement" class="text-danger"></span>
                </div>

                <hr class="mb-4">

                <div class="col-9 mb-3">
                    <label asp-for="event_fee">Etkinlik Ücreti</label>
                    <input asp-for="event_fee" class="form-control"/>
                    <span asp-validation-for="event_fee" class="text-danger"></span>
                </div>


                <div class="col-9 mb-3 d-none">
                    <label asp-for="event_membersID">Event Members ID</label>
                    <input asp-for="event_membersID" class="form-control" value="[]"/>
                    <span asp-validation-for="event_membersID" class="text-danger"></span>
                </div>

                <hr class="mb-4">
                
                
                @* Profile(user.Id) --> profile.base64Image *@
                @if (profile != null  && SignInManager.IsSignedIn(User))
                {
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Etkinliği Oluştur</button>

                } else
                {
                    <div class="alert alert-danger mt-5" role="alert">
                        <p>Etkinlik oluşturmadan öncelikle kullanıcı bilgilerinizi eklemelisiniz!</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    
                    <div>
                    <button class="btn btn-dark btn-lg" ><a >Profili Düzenle</a></button>
                    </div>
                }
                
            </div>
        }
        else
        {
            <button><a href="/Identity/Account/Login">Giriş Yap</a></button>
        }
        
        
            </form>
        </div>
    </div>
    <br />
</div>
